<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Groups</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
        </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
        </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
        </style>
        
</head>
<!-------------------------barre de navigatoin---------->
<header>
    <nav>
        <h4>Group generator</h4>
        <div>
            <a href="">Students</a>
            <a href="">Groups</a>
        </div>
    </nav>
</header>
 
<body>
    <h1>LIST OF GROUP</h1>

    <main>
<!------------section 1------------------>
     <div id="container">   

    <% data.forEach(function(object){ %>
        <section id="Generator">
            <h3><%= object.name %></h3>
            <ul>
                <% object.groupmmbr.forEach(function(groups){ %>
                    <li><%= groups.join(" - ") %></li>
                 <% }) %> 

            </ul>       
        </section> 
     <% }) %>
    </div>

    <section id="Form">
        <form action="/groups" method="post" class="form-example">
            <div class="form-example">
              <input type="text" name="name" id="text" required placeholder="Project Name">
            </div>
            <div class="form-example">
              <input type="text" name="mmbr" id="text" required placeholder="Group Members">
            </div>
            <div class="form-example">
              <input type="submit" value="Generate">
            </div>
          </form>
    </section>

    
    </main>

    
</body>
</html>